/*Light-Mode*/
:root {
  --background-color: rgba(17, 0, 255, 0.007);
  --navbar-background-color: #fff;
  --navbar-text-color: #3c4250;
  --navbar-hover-color: #a0a0a0;
  --navbar-border-color: #eceef3;
  --navbar-base-color: #66f;
  --navbar-shadow: 0 1px 5px 0 rgba(0, 0, 0, 50%);
  --search-background-color: #e2e8f0;
  --search-placeholder-color: rgb(120, 120, 120);
  --search-items-color: rgb(120, 120, 120);
  --search-items-hover-color: rgb(0, 0, 0);
  --search-border-color: #bbbbbb;
  --search-focus-color: #000;
  --search-border-focus-color: rgba(0, 0, 0, 0.5);
  --about-background-color: #cdd8e7;
  --about-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 50%);
  --about-header-color: #66f;
  --about-text-color: #3c4250;
}

/* Dark-Mode */
[data-theme="dark"] {
  --background-color: #282c36;
  --navbar-background-color: #18242b80;
  --navbar-text-color: #eee;
  --navbar-hover-color: #a0a0a0;
  --navbar-border-color: #eceef3;
  --navbar-base-color: rgb(75, 75, 255);
  --navbar-shadow: 0 1px 5px 0 rgb(255, 255, 255, 50%);
  --search-background-color: #18242b;
  --search-placeholder-color: rgba(255, 255, 255, 0.5);
  --search-items-color: #fff;
  --search-items-hover-color: rgba(255, 255, 255, 0.5);
  --search-border-color: #bbbbbb;
  --search-focus-color: #fff;
  --search-border-focus-color: #fff;
  --about-background-color: #18242b;
  --about-box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.5);
  --about-header-color: rgb(70, 70, 253);
  --about-text-color: #eee;
}

body {
  background-color: var(--background-color);
}

.dark-mode {
  padding-left: 5px;
  label {
    position: relative;
    display: block;
    width: 70px;
    height: 35px;
    border-radius: 100px;
    background-color: rgba(128, 128, 128, 0.2);
    overflow: hidden;
    cursor: pointer;
    &:before,
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      top: 7px;
      left: 5px;
      transition: 0.5s ease;
    }
    &:before {
      background-color: #ffa41b;
    }

    &:after {
      background-color: #000839;
      left: -85px;
      transform: scale(0.00001);
    }
  }

  input[type="checkbox"] {
    display: none;
    &:checked + label {
      background-color: #000839;
      &:before {
        background-color: #fff;
        transform: translateX(40px);
      }

      &:after {
        transform: translateX(120px) scale(1);
      }
    }
  }
}
